name: CI

# Trigger on pushes and pull requests to the main branch.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:  # Allows the workflow to be called by other workflows

permissions:
  contents: write
  pull-requests: write
  checks: write
  packages: read

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false      # This allows the matrix jobs to run independently.
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Initialize submodules
        run: |
          git submodule update --init --recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore Resolver.Athena.slnx

      - name: Build
        run: dotnet build Resolver.Athena.slnx --configuration Release --no-restore

      - name: Format Code
        run: dotnet format Resolver.Athena.slnx --verify-no-changes

      - name: Test
        run: dotnet test Resolver.Athena.slnx --configuration Release --no-build --logger "trx" --logger "console;verbosity=normal"

      - name: Upload test results
        uses: actions/upload-artifact@v5
        with:
          name: test-results-${{ matrix.os }}
          path: "**/*.trx"

      - name: Pack
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        run: dotnet pack Resolver.Athena.slnx --configuration Release --no-build --output Artifacts

      - name: Upload NuGet packages
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          path: Artifacts/*.nupkg
